# on base directory:
REACT_APP_NOTIFICATIONS_KEY=[YOUR PUBLIC VAPID KEY]
REACT_APP_NOTIFICATIONS_URL=http://localhost:8080 (or you can use one of your liking, if the endpoints match)

# on server directory:
VAPID_PUBLIC=[YOUR PUBLIC VAPID KEY]
VAPID_PRIVATE=[YOUR PRIVATE VAPID KEY]
